<div>
  <input type="text" id="edadUno" [(ngModel)] = "edadUno"  placeholder="Ingrese primer edad">


  <input type="text" id="edadDos" [(ngModel)] = "edadDos" placeholder="Ingrese segunda edad" style="margin-left: 20px;">
</div>
<br>

<button (click) = "realizarCalculos()" >Calcular</button>
<button (click) = "limpiarCuadros()" style="margin-left: 20px;"> Limpiar cuadros de texto</button>

<br><br>

<div>
  <label>Promedio:</label>
  <input type="text" readonly [(ngModel)] = "promedio">
  <br><br>
  <label>Suma: </label>
  <input type="text" readonly [(ngModel)] = "suma">
</div>